<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibShop">
        <activity android:name=".View.OrderDetails" />
        <activity android:name=".View.PB_Cart" />
        <activity android:name=".View.ProductDetails" />
        <activity android:name=".View.ProductAdd" />
        <activity android:name=".View.CategoryAdd" />
        <activity android:name=".View.LoginRegistration" />
        <activity android:name=".LoginCheck" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>